@import '_variables'
@import '_mixins'
@import 'app/main'

.firstThumb
  width: 100px

.tableImage
  width: 100px
  text-align: center !important

.imdbRating
  font-size: 20px
  font-weight: bold
  line-height: 40px

.basepath
  font-size: 10px

td.tagline
  font-size: 14px
  font-style: italic


span.title
  font-weight: bold  