@import '_variables'
@import '_mixins'
@import 'app/main'

.firstThumb
  width: 100px

.tableImage
  width: 100px

.basepath
  font-size: 10px

td.tagline
  font-size: 14px
  font-style: italic


span.title
  font-weight: bold  