body
  .container
    .navbar
      .navbar-inner
        a.brand(href="#") My movie list
        ul.nav
          li
            a(href="/") home
          li
            a(href="/movies") Movies
          li
            a(href="/movies/1") Movie
          li
            a(href="/collections") collection demo
          li
            a(href="/info") more info

    main#pages
