body
  .container
    .navbar
      .navbar-inner
        a.brand(href="#") My movie list
        ul.nav
          li
            a(href="/movies") Movies
          li
            a(href="/info") human javascript

    main#pages
