tr.movie
  td.tableImage
    a.fullImage
      img.firstThumb
  td
    table.table
      tr
        td.title
        td.year
        td
          a.hrefImdb
      tr
        td.originaltitle
        td.country
        td.country
      tr
        td(colspan="3").tagline
      tr
        td(colspan="3").basepath
