tr.movie
  td.tableImage
    a.fullImage
      img.firstThumb
  td
    table.table
      tr
        td
          span.span1 Title:
          span.title.span3
          span.span1 Year:
          span.year.span1 
          a.hrefImdb.spanInfo
      tr
        td
          span.span1 Original:
          span.originaltitle.span3
          span.country.span3
      tr
        td
          span.span1 Director:
          span.director.span8
        tr
        td(colspan="3")
          span.tagline.span8
      tr
        td(colspan="3")
          span.basepath.span8
